<footer>
    <div>
        @Pk All rights reserved
    </div>
    <div id="footer-home-profile">
        <div>
            <a href="/">Home</a>
        </div>
        <div>
            <a href="/users/profile">Profile</a>
        </div>
    </div>

</footer>