<footer>
    <div>
        <p>
        @Pk All rights reserved
    </p>
    </div>
    <div id="footer-home-profile">

        <nav class="footer-nav">
            <ul>
                <li>
                    <a href="/">Home</a>
                </li>
                <li>
                    <a href="/users/profile">Profile</a>
                </li>
            </ul>
        </nav>
    </div>

</footer>