<header>
    <nav id="header-nav">
        <span>
            Codeial
        </span>
        <div>
            <%if(locals.user){%>
                <div>
                    <a href="/users/profile">
                        <%=user.name%>
                    </a>
                </div>
                <div>
                    <a href="/users/sign-out">Sign Out</a>
                </div>

                <%}else{%>
                    <div>


                        <div id="header-sign-in-sign-out">
                            <div>
                                <a href="/users/sign-in">Sign In</a>
                            </div>
                            <div>
                                <a href="/users/sign-up">Sign up</a>
                            </div>
                        </div>


                        <%}%>
                    </div>
    </nav>
</header>