<h1>
    User Sign Up Page
</h1>

<form action="/user/create" method="post" id="create-form">
    <div class="create-form-content">
        <div>

            <input type="email" name="email-input" placeholder="Your Email" required>

            <input type="text" name="name-input" placeholder="Your Name" required>

            <input type="password" name="password-input" placeholder="Password.."  required>

            <input type="password" name="confirm_password" placeholder="Confirm password"  required>

        </div>
        <button type="submit" value="sign-up">SignUp</button>
    </div>
</form>