<h1>
    User Sign Up Page
</h1>

<form action="/users/create" method="post" id="create-form">
    <div class="create-form-content">
        <div>

            <input type="email" name="email" placeholder="Your Email" required>

            <input type="text" name="name" placeholder="Your Name" required>

            <input type="password" name="password" placeholder="Password.."  required>

            <input type="password" name="confirm_password" placeholder="Confirm password"  required>

        </div>
        <button type="submit" value="sign-up">SignUp</button>
    </div>
</form>

<p>
    <a href="auth/google">Gooogle SignUp / SignIn</a>
</p>