<link rel="stylesheet" href="/css/user_profile.css">
<h1>
    User Profile 
</h1>

<p><%=user.name%></p>
<!-- <p><%=user.email%></p> -->
<h4>
    Posts
</h4>
<!-- <form action="/post/create" id="new-post-form" method="post">

    <textarea name="content" id="new-post-content" cols="30" rows="5" placeholder="type here..">

    </textarea>
    <input type="submit" value="post">

</form> -->