<h1>
    User Sign In Page
</h1>

<form action="/users/create-session" method="post" id="find-form">
    <div class="create-form-content">
        <div>
            <input type="text" name="email" placeholder="Your Email" required>
            <input type="password" name="password" placeholder="password" required>
        </div>
    </div>
    <button type="submit" value="sign-in">Login</button>

</form>
<p>
    <a href="/users/auth/google">Gooogle SignUp / SignIn</a>
</p>