footer{
    color:white;
    a{
        color: white;
        text-decoration: none;
    }
    background-color:deeppink;
    padding: 5px 10px;
    display: flex;
    justify-content: flex-start;
    // display: flex;
    // flex-direction: row;
    // padding: 10px;
    // font-size: 20px;
    .footer-nav{
        ul{
            list-style: none;
            // display: flex;

        }
    }
    

}