#header-nav{
    background-color: blue;
    color:white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 25px;
    margin: 0px;
    div{
        margin-right: 15px;
        display: flex;
    flex-direction: row;
    background-color: chartreuse;
    }
   #header-sign-in-sign-out{
    display: flex;
    flex-direction: row;
    
    
    a{
        text-decoration: none;
        color: white;

    }
    
   }

}
