body {
  background-color: aqua;
 
  #layout-main {
    .display-Profile{
        width:20%;
 
    position: relative;
    left: 30%;
    padding-left: 55px;
    margin-top: 20px;
    background-color: bisque;
    padding-bottom: 15px;

    form{
        display: flex;
        flex-direction: column;

        input{
            width:200px;
            margin-top: 5px;
        }
    }

    .image-preview {
      display: flex;
      flex-direction: column;
      .image-preview_default_text {
        color: red;
        font-size: 30px;
      }
      .image-preview_image {
        margin: 25px;
        margin-left: 5px;
        width:250px;
        height:200px;
        border: 2px solid transparent;
        border-radius: 10%;
        // max-width: 150px;
        // max-height: 200px;
      }
    }
  }
}

}

